.advantages {
  width: 100%;
  background-color: $white;
  padding: 100px 0;
}
.advantages__content {
  width: 100%;
  display: flex;
  &__item {
    width: 64%;
    &:nth-child(1) {
      width: 36%;
    }
    &:nth-last-child(1) {
      padding-left: 130px;
    }
    &__title {
      margin-top: 70px;
      font-family: "Roboto - Black";
      font-size: 58px;
      font-weight: 400;
      color: $blue;
      margin-bottom: 70px;
    }
    .top {
      margin-bottom: 30px;
    }
    &__description {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 28.99px;
      color: $blue;
    }
    &__point {
      align-items: center;
      display: flex;
      margin-bottom: 70px;
      &__bg {
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 116px;
        height: 116px;
        border-radius: 50%;
        background-color: $blue;
      }
      &__text {
        &__title {
          font-family: "Roboto - Black";
          font-size: 58px;
          font-weight: 400;
          color: $blue;
          .small {
            font-size: 29px;
          }
        }
        &__description {
          padding-left: 5px;
          font-family: Roboto;
          font-size: 19px;
          font-weight: 400;
          color: $blue;
        }
      }
    }
  }
}
