.general {
  width: 100%;
  background-color: #00a8e1;
  padding: 100px 0 100px 0;
}
.slider {
  width: 1430px;

  margin: 0 auto;
  position: relative;

  &__item {
    display: flex;
    &__text {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__img {
      width: 60%;
      position: relative;
      &__bg {
        object-fit: contain;
      }
      &__pad {
        position: absolute;
        top: 261px;
        left: 494px;
        transform: translate(-50%, -50%);
      }
    }
    &__text {
      padding-left: 190px;
      &__title {
        font-family: "Roboto - Black";
        font-size: 64px;
        font-weight: 400;
        color: #efefef;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
      &__point {
        list-style: none;
        display: block;
        font-family: Roboto;
        font-size: 19px;
        color: #001970;
        font-weight: 400;
        margin-bottom: 15px;

        &::before {
          content: url(../assets/Shape_2_copy_3.png);
          margin-right: 10px;
        }
      }
      &__btn {
        display: block;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        color: $yellow;
        padding: 30px 50px;
        background-color: $blue;
        border-radius: 8px;
        margin-top: 90px;
        max-width: 210px;
        &:hover {
          background-color: $yellow;
          color: $blue;
          transition: ease-in-out 0.2s;
        }
      }
    }
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slide {
  outline: none;
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.slick-arrow.slick-prev {
  left: 0;
  background-image: url(../assets/2-layers.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  width: 24px;
  height: 44px;
  border: none;
  background-color: transparent;
  outline: none;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
}

.slick-arrow.slick-next {
  right: 0;
  background-image: url(../assets/Shape_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  width: 24px;
  height: 44px;
  border: none;
  background-color: transparent;
  outline: none;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
}

.slick-dots {
  display: flex;
  font-size: 0;
}
.slick-dots li {
  list-style: none;
}

.slick-dots li.slick-active button {
  background-color: $blue;
}

.slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-right: 10px;
  background-color: #ffffff;
}
