.header {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;

  &__logo {
    padding: 0 40px 0 40px;
    height: 100%;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__phone {
    display: flex;
    &__item {
      padding: 0 30px 0 30px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &::before {
        content: " ";
        position: absolute;
        display: block;
        height: 60px;
        width: 1px;
        right: 0;
        background: #cacfe1;
        opacity: 0.7;
      }
      &__number {
        font-family: "Roboto";
        font-size: 19px;
        font-weight: 700;
        color: $blue;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
      &__descr {
        font-family: "Roboto";
        font-size: 13px;
        font-weight: 700;
        color: $yellow;
      }
    }
  }
  &__insurance {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      color: $blue;
      margin-left: 50px;
      display: block;
      width: 120px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  //   margin-left: 100px;
  &::after {
    content: " ";
    position: absolute;
    display: block;
    height: 60px;
    width: 1px;
    right: 0;
    background: #cacfe1;
    opacity: 0.7;
  }
  &__item {
    color: $blue;
    margin-right: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
    &:nth-last-child(1) {
      &::before {
        content: url(../assets/L0001.png);
        margin-right: 5px;
      }
    }
  }
}
.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
  padding-top: 25px;

  &__item {
    font-family: Roboto;
    margin-bottom: 15px;
    font-size: 11px;
    font-weight: 700;
    color: $blue;
    text-transform: uppercase;
    &:nth-last-child(1) {
      opacity: 0.5;
    }
  }
}
.order {
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  cursor: pointer;
  &:hover {
    background-color: $blue;
    transition: 0.3s ease-in-out;
  }
  &:hover .order__item {
    color: $yellow;
    transition: 0.3s ease-in-out;
  }
  &__item {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    color: $blue;
  }
}
.right {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
}
